<div class="d-flex align-items-center">
  <h1>掲示板一覧</h1>
</div>


  <div id='search_result' class="operation mt-3 py-3">
    <a class="btn btn-outline-primary" href="/boards/new">新規作成</a>
  </div>
  <table class="table table-striped table-bordered table-search-result">
    <thead class="bg-dark text-white">
    <tr>
      <th scope="col" class="id">ID</th>
      <th scope="col">タイトル</th>
      <th scope="col" class="operation">作成者</th>
      <th scope="col">作成日</th>
      <th scope="col">終了日</th>
    </tr>
    </thead>
    <tbody>
    <% @boards.each do |board| %>
    <tr>
      <th><%= board.id %></th>
      <td><%= board.title %></td>
      <td><%= board.name %></td>
      <td><%= board.created_at.strftime('%Y年 %m月%d日 %H時%M分') %></td>
      <td><%= board.updated_at %></td>
    </tr>
    <% end %>
    </tbody>
  </table>